{% extends "base.html" %}
{% block title %}trip planner{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 class="text-center">Login</h2>
            <form method="post" action="">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username.label(class="sr-only") }}
                    {{ form.username(class="form-control input-lg", placeholder="username or email address...") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="sr-only") }}
                    {{ form.password(class="form-control input-lg", placeholder="choose a password...") }}
                </div>
                <div class="form-group">
                    {{ form.remember_me }} {{ form.remember_me.label }}
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="form-control input-lg signup-button">
                </div>
            </form>
            <br><br>
            <p>don't have an account yet?  <a href="{{ url_for('signup') }}">&nbsp;register here</p>
            <hr>
        </div>
    </div>
</div>


{% endblock %}