{% extends "base.html" %}
{% block title %}trip planner{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Sign up</h2>
            <hr>
            <h4 class="text-center">make a ascii-art post or plan a trip</h4>
            <form method="post" action="">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username.label(class="sr-only") }}
                    {{ form.username(class="form-control input-lg", placeholder="username or email address...") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="sr-only") }}
                    {{ form.password(class="form-control input-lg", placeholder="choose a password...") }}
                </div>
                <div class="form-group">
                    {{ form.confirm.label(class="sr-only") }}
                    {{ form.confirm(class="form-control input-lg", placeholder="confirm password...") }}
                </div>
                <div class="form-group">
                    {{ form.accept_tos }} {{ form.accept_tos.label }}
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control input-lg signup-button">
                </div>
            </form>
            <br><br>
            <p>already have an account?  <a href="{{ url_for('login') }}">login here</p>
            <hr>
        </div>
    </div>
</div>
{% endblock %}